{% extends 'TopBase.html' %}
{% load static %}

{% block content %}
<title>אודות</title>

</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay"  style="{% static "'background-image:url('images/demo/backgrounds/01.png');"%}">
  <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
  </style>
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
        <p>:מטרת האתר</p>
        <p>."האתר פותח במסגרת פרוייקט בקורס "ייסודות הנדסת תוכנה במכללת סמי שמעון בלווי של ד"ר הדס חסידים</p>
        <p>.האתר פותח כדאי למצוא פתרון לעסקים קטנים בזמן הקורונה אשר לא יכולים לפתוח בעקבות המגבלות והסגרים</p>
        <p>.פתרון שהאתר מציעה: כל בעל עסק יוכל לפתוח חנות אינטרנטי ולעלות את המוצרים שלו וכל צרכן יוכל לבצע רכישות מאותן חנויות</p>
        <p>.ובכך נוכל לשמור על ריחוק חברתי לשמור על העסקים הקטנים להמשיך לפעול</p>
    <p>:הגדרת הבעיה</p>
    <p>
    בעקבות משבר הקורונה, עסקים רבים נאלצים להתמודד עם משבר כלכלי ונמצאים תחת סכנה קריסה עקב הנחיות משרד הבריאות להגבלת עסקים ותפקודם השוטף. עסקים רבים מוצאים את עצמם מחפשים פתרונות על מנת להמשיך להתקיים ולהתכלכל ולמזער את נזקי המשבר (גם במצבים של סגר כולל).
    הגורמים העיקריים לבעיה הם:
    1	הסגר כללי על המשק וסגירת עסקים קטנים -
    עקב עליה בתחלואה והחלטות הממשלה, לקוחות יכולים לקבל שירות רק מרחוק.
    בעקבות זה עסקים רבים נסגרים או עוברים לשירותי משלוחים וטייק אווי.

    2	חוסר יציבות במשק -
    בעקבות התפרצות המגיפה, לעיתים תכופות מתקבלות החלטות ממשלתיות המשתנות מעת לעת ובכך נוצר בלבול רב וחוסר יציבות.
    כתוצאה מכך המשק הישראלי נפתח ונסגר לסירוגין ומתקשה לתפקד בצורה טובה.

    3	מגבלה על קבלת קהל (כמות לקוחות מוגבלת) -
    הנחיות משרד הבריאות מחייבות את בעלי העסק להגביל את קבלת הקהל שלהם לכמות מסוימת ולעיתים גם באופן מוחלט.
    כתוצאה מכך הכנסות העסקים יורדות בצורה משמעותית ועסקים רבים נכנסים למשבר כלכלי קשה.

    4	הימנעות לקוחות מהגעה לעסק (מחשש להתקהלות) -
    בעקבות התפרצויות של המגיפה במוקדים רבים בארץ, אזרחים רבים (וביניהם אנשים הנמצאים בקבוצות סיכון) נמנעים מלהגיע לעסקים מחשש להתקהלות.
    כתוצאה מכך עסקים רבים מוצאים עצמם ריקים מלקוחות, והכנסות העסק נפגעות.

    5	 סחורה שהוזמנה לפני סגר ולא נגמרה -
    בעקבות ההחלטות על סגרים, עסקים רבים מוצאים עצמם עם סחורה שנקנתה/הוזמנה מראש במחשבה שהעסק יפעל כרגיל.
    כתוצאה מכך אין באפשרות בעל העסק להחזיר את ההשקעה ולעיתים הסחורה איננה רלוונטית עוד לאחר מכן (מזון, קולקציות בגדים, בלאי וכו').
    </p>
    <p>:פתרון</p>
    <p>אתר שיאפשר לבעלי עסקים פתיחה וניהול של חנות אינטרנטית באופן קל ועצמאי.
    כל בעל עסק יוכל להזין לעמוד העסק שלו את פרטי העסק ולצרף פרטים על השירות אותו הוא מעוניין למכור, ולתת אפשרות להזמין באופן מקוון.
    בנוסף יפורסמו פרטים אודות העסק כמו: שם העסק, יצירת קשר, כתובת האתר של העסק, ופרטים נוספים.
    לצרכן תינתן האפשרות לתת דירוג ומשוב על אותו דף של העסק ממנו קיבלו שירות ולראות דירוגים של אנשים לעסקים אחרים.
    </p>
    <!-- ################################################################################################ -->
  </div>
</div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->

    <div class="sectiontitle">
      <h2 class="heading">צוות פיתוח האתר</h2>
      <p></p>
    </div>

    <ul class="nospace group overview">

      <li class="one_third">
        <figure><a href="#ziv"><img src="{% static 'images/demo/Ziv1.jpg' %}" alt=""></a>
          <figcaption>
            <h6 class="heading">זיו אבוטבול (26)</h6>
            <p>סטודנט שנה ב' להנדסת תוכנה במכללת סמי שמעון</p>
          </figcaption>
        </figure>
      </li>
          <li class="one_third">
        <figure><a href="#itzik"><img src="{% static 'images/demo/itzik.jpg' %}" alt=""></a>
          <figcaption>
            <h6 class="heading">איציק רחמים (26)</h6>
            <p>סטודנט שנה ב' להנדסת תוכנה במכללת סמי שמעון</p>
          </figcaption>
        </figure>
      </li>
              <li class="one_third">
        <figure><a href="#gil"><img src="{% static 'images/demo/gil.jpg' %}" alt=""></a>
          <figcaption>
            <h6 class="heading">גיל בן חמו (24)</h6>
            <p>סטודנט שנה ב' להנדסת תוכנה במכללת סמי שמעון</p>
          </figcaption>
        </figure>
      </li>
              <li class="one_third">
        <figure><a href="#yuval"><img src="{% static 'images/demo/yuval.jpg' %}" alt=""></a>
          <figcaption>
            <h6 class="heading">יובל אפרת (26)</h6>
            <p>סטודנט שנה ב' להנדסת תוכנה במכללת סמי שמעון</p>
          </figcaption>
        </figure>
      </li>
            <div class="clear"></div>
  </main>
</div>
<div class="wrapper bgded overlay" id="ziv" style="{% static "'background-image:url('images/demo/backgrounds/01.png');"%}">
  <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
  </style>
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
        <p> : זיו    אבוטבול         (26)                                   </p>
        <p>סטודנט שנה ב' להנדסת תוכנה במכללת סמי שמעון.</p>
        <p>רקע תכנותי: Django,postgresql,html,C ,CPP ,PYTHON, ASSEMBLY.</p>
        <p>רקע כללי:ניסיון ניהולי בתחום המסעדנות, רקע עשיר בקרב עסקים קטנים, והבנת הצרכים הרלונטיים.</p>
    <!-- ################################################################################################ -->
  </div>
</div>
</div>
<div class="wrapper bgded overlay" id="itzik" style="{% static "'background-image:url('images/demo/backgrounds/01.png');"%}">
  <style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
  </style>
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->

       <p>:איציק רחמים (26)</p>
        <p>סטודנט שנה ב' להנדסת תוכנה במכללת סמי שמעון.</p>
        <p>רקע תכנותי: C ,CPP ,PYTHON, ASSEMBLY.</p>
        <p>רקע כללי: ניסיון עבודה בצוות, ניהול צוותים, רקע בעסקים והבנת צרכיהם.</p>
        <p></p>

    <!-- ################################################################################################ -->
  </div>
</div>
<div class="wrapper bgded overlay" id="gil" style="{% static "'background-image:url('images/demo/backgrounds/01.png');"%}">
  <style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
  </style>
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->

      <p>:גיל בן חמו (24)</p>
      <p>סטודנט שנה ב' להנדסת תוכנה במכללת סמי שמעון.</p>
      <p>רקע תכנותי: C ,CPP ,PYTHON,JS ,ASSEMBLY .</p>
      <p>רקע כללי: ניסיון בעבודה ובהובלת צוותים.</p>
      <p></p>

    <!-- ################################################################################################ -->
  </div>
</div>
<div class="wrapper bgded overlay" id="yuval" style="{% static "'background-image:url('images/demo/backgrounds/01.png');"%}">
  <style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
  </style>
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->

      <p>יובל אפרת (26):</p>
      <p>סטודנט שנה ב' להנדסת תוכנה במכללת סמי שמעון.</p>
      <p>רקע תכנותי: C ,CPP ,PYTHON, ASSEMBLY.</p>
      <p>רקע כללי: ניסיון עבודה בעסקים רבים (קטנים וגדולים), הכרה עמוקה של צרכיהם.</p>
      <p></p>

    <!-- ################################################################################################ -->
  </div>
</div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2020 - By Project#10 - SCE-"Software Engineering Department Year B." </p>
    <p class="fl_right">Developed by <a target="_blank" href="/abut" title="Project#10 ">2020_21_project#group_10 </a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
{% endblock %}