{% extends 'TopBase.html' %}

{% block content %}
<div class="wrapper bgded overlay" style="background-image:url('static/images/demo/backgrounds/back.png');">

  <footer id="footer" class="hoc clear">

    <!-- ################################################################################################ -->

    <div class="sectiontitle">
      <b><i><font size="9" color="orange">הוספת מוצר חדש</font><br></i></b>

      <form  action="{% url 'create_product' %}" method="post" enctype="multipart/form-data" novalidate>
        <style>

          select {color: white;
          padding: 8px;
          background-color:#0e74a5;
          width: 100%;
          text-align: center;
          }
          textarea {
          color: white;
          padding: 8px;
          background-color:#0e74a5;
          width: 100%;
          }
        </style>
        {% csrf_token %}
        {{form}}
      </br>
        <button class="btn" type="submit">הוסף מוצר</button>
      </form>

  </div>
    <!-- ################################################################################################ -->
  </footer>

    </div>
  </div>
</body>
</html>
{% endblock %}


