{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
<title>{{get_business.business_name}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul class="nospace">
        <li><a href="{% url 'home' %}"><i class="fas fa-home fa-lg"></i></a></li>
        <li><a class="far fa-handshake" href="/abut">  אודות</a></li>
        <li><a class="far fa-comments" href="{% url 'feedback' %}">  שלח משוב</a></li>
        {% if user.is_authenticated %}
            {% if user.is_business %}
                <li style="font-size: medium;">שלום, {{user.business.business_name}}</li>
            {% elif user.is_customer %}
                <li style="font-size: medium;">שלום, {{user.first_name}}</li>
            {% else %}
                <li style="font-size: medium;">שלום, אדמין</li>
            {% endif %}
          <li><a class="far fa-times-circle" href="{% url 'logout' %}">  התנתק</a></li>
        {% else %}
        <li><a class="far fa-edit" href="/Registar">  הירשם</a></li>
        <li><a class="far fa-user-circle" href="/account/login_r">  התחבר</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li style "width: 25px;"><form  method="post" style="" action="{% url 'search' %}">
        {% csrf_token %}
        <input type="text" style=" color:black; background-color:white;line-height: 20px;" placeholder="חפש לפי שם העסק" name="s"></li>
        <button style="float:left;line-height: 20px;color:black;background-color:#white; " type="submit"><i class="fa fa-search"></i></button>
        </form>
        {% if user.is_customer %}
        <li><a class="far fa-calendar-check" href="{% url 'customer_orders' %}"> הזמנות שלי</a></li>
        {% endif %}
      </ul>
    </div>
    <style>
    ::placeholder {
          font-weight: bold;
          color: black;
          font-size: 1.2em;
          text-align:right
      }
      .badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
}
      .row0, .row0 a {
    color: #FFFFFF;
    background-color: #0E74A5;
    font-size: medium;
}
    </style>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">

  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="one_half first">
      <a href="{% url 'home' %}">
        <img src="\static\images\demo\logo.png"></a>
    </div>
    <div class="one_half">
      <ul class="nospace clear">
        <li class="one_half first">
          <div class="block clear"><i class="fas fa-phone"></i> <span><strong class="block">צור קשר</strong> +972 (050) 959 1553</span> </div>
        </li>
        <li class="one_half">
          <div class="block clear"><i class="far fa-clock"></i> <span><strong class="block"> ראשון - שישי</strong> 24/7</span> </div>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </header>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-color:#0e74a5">
  <div id="topbar" class="clear" style="background-color:#e9a00e" >
        {% if user.is_authenticated %}
    <!-- ################################################################################################ -->
    <ul style="text-align:center">
      <font size="4">
        {% include 'messages.html' %}
      {% if user.id == get_user.id %}
      <b><li ><a class="fas fa-plus" style="color:#0e74a5" href="{% url 'create_product' %}">     :הוסף מוצר   </a></li>
      <li><a class="fas fa-book" style="color:#0e74a5" href="/cart/show_orders/{{get_user.id}}">    :הזמנות</a></li>
      <li><a class="fas fa-history" style="color:#0e74a5" href="/cart/history_orders/{{get_user.id}}">   :היסטורית הזמנות</a></li>
      <li><a style="color:#0e74a5" class=" fas fa-chart-line" href="{% url 'business_report' %}">          דוחות</a></li>
        {% else %}
          {% if user.is_superuser == 0 %}
          {% if order.get_cart_amount %}
        <li><a style="color:#0e74a5" href="/cart/{{get_user.id}}/" class="fas fa-shopping-cart" style="font-size: 25px"> עבור לעגלת החנות <asp:Label ID="lblCartCount" runat="server" CssClass="badge badge-warning"  ForeColor="White"/>{{order.get_cart_amount}}</a></li>
          {% else %}
                <li><a style="color:#0e74a5" href="/cart/{{get_user.id}}/" class="fas fa-shopping-cart" style="font-size: 25px"> עבור לעגלת החנות </a></li>
          {% endif %}
        {% endif %}
        {% endif %}
      <li><a style="color:#0e74a5" class="fas fa-comments" href="/review/{{get_user.id}}/">          ביקורות החנות</a></li>
      </b>
      </font>
    </ul>
    {% else %}
    <h1 style="text-align:center">בשביל להתחיל לרכוש עלייך להתחבר למשתמש צרכן</h1>
    {% endif %}
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3" >
  <main class="clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sidebar one_quarter first"   style="background-color:#0e74a5">
      <!-- ################################################################################################ -->

      <div class="sdb_holder" style="background-color:#3183ad;text-align: right;">
        <h5><b><u>:פרטי העסק</u></b></h5>
         {% if user.is_superuser %}
          <font size="5" <td><a class="fas fa-edit" href="/admin/account/business/{{get_business.user_id}}/change/">ערכית פרופיל  העסק כמנהל</a></td></font>
          {% endif %}
        <address>
        <b> שם : </b> {{get_user.first_name}}<br>
        <b>שם משפחה :   </b>{{get_user.last_name}}<br>
       <b>שם העסק : </b>{{get_business.business_name}}<br>
        <b>כתובת העסק :  </b>{{get_business.business_address}}<br>
        <!--business phone: {{user.business.business_phone}}<br>-->
        <br>
        <b>טלפון העסק : </b>{{get_business.business_phone}}<br>
         <a href="#">{{get_user.email}}</a><b>: אימייל העסק </b><br>
          <br>
          <br>
          {% if user.id == get_user.id %}
         <font size="5" <td><a  class="fas fa-edit" href="{% url 'update_business' get_business.user_id %}">ערכית פרטי העסק</a> </td></font>
          {% endif %}

        </address>
      </div>
      <div class="sdb_holder" style="background-color:#3183ad">
        <article>
          <h5><a style="color:black" class="fas fa-address-card" >          :אודות העסק</a></h5>
          <p>{{get_business.business_info}}</p>
      </div>
           <div class="sdb_holder" style="background-color:#3183ad">
        <article>
          <h5><a style="color:black" class="fas fa-bullhorn" >          :לוח הודעות</a></h5>
          <p>{{get_business.business_massage}}</p>
          {% if user.id == get_user.id %}
           <font size="5" <td><a class="fas fa-edit" href="{% url 'create_Massage' get_business.user_id %}">עריכת הודעה</a></td></font>
          {% endif %}

      </div>
                 <div class="sdb_holder" style="background-color:#3183ad">
        <article>
          <h5><a style="color:black" class="fas fa-donate" >          :לוח מבצעים</a></h5>
          <p>{{get_business.business_deals}}</p>
          {% if user.id == get_user.id %}
          <font size="5"  <td><a class="fas fa-edit" href="{% url 'create_deals' get_business.user_id %}">עריכת מבצעים</a></td></font>
          {% endif %}

      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->



    <div class="content three_quarter">
      <!-- ################################################################################################ -->



      <div class="wrapper row3">
  <main class="clear">
    <!-- main body -->
    <!-- ################################################################################################ -->


    <div class="sectiontitle">
      <br>
       {% if user.id == get_user.id %}
      <b><font size="7" color="#0e74a5">המוצרים שלי</font><br></b>
      <p></p>
        {% else %}
      <b><font size="7" color="#0e74a5">מוצרי החנות</font><br></b>
      <p></p>
      {% endif %}
    </div>

        <style>
        p {text-align: right;font-size:16px}
        h6 {text-align: right;}
        h5 {text-align: center;}
        .row3 {
           color: black;
            background-color: #FFFFFF;
              }
        .overlay {
            color: #FFFFFF;
            background-color: inherit;
            text-align: right;
        }
        .btn, .btn.inverse:hover {
            color: #FFFFFF;
            background-color: #F7A804;
            border-color: #F7A804;
        }


        </style>
    <ul class="nospace" >
    {% for prod in prods %}
      {% if get_user.id == prod.shop_id_id  %}
      <li class="one_third" >
        <figure>
          <figcaption>
            <h6 class="heading" ><a href="#"><img src="{{prod.product_image.url}}" alt="" style="float:left;width:100px;height:100px;"></a><u><b>שם המוצר</u></b>: {{prod.product_name}}</h6>
            <p> <u><b> פרטי המוצר</b></u>: {{prod.product_info}}</p>
            <p> {{prod.product_amount}} :<u><b>כמות במלאי</u></b></p>
            <p>  <u><b>מחיר</u></b>: {{prod.product_price}} ש"ח</p></b>
            {% if user.id == get_user.id %}
            <font size="4"  <td><a class="fas fa-edit" href="{% url 'update_product' prod.id %}">  :עריכת מוצר</a></td> </font>
            {% endif %}
            {% if user.is_superuser %}
         <font size="4"  <td><a class="fas fa-edit" href="/admin/products/product/{{prod.id}}/change/">ערכית מוצר עסק כמנהל</a></td></font>
          {% endif %}
            {% if user.is_customer %}
        
            <form style="float:left; margin:5px" action="{% url 'add_to_cart' prod.id %}" method="post" enctype="multipart/form-data" novalidate>
              {% csrf_token %}
              <button class="btn" type="submit">הוסף לעגלה
              <i class="fas fa-shopping-cart"></i></button>
            </form>

            <form style="margin:21px" action="{% url 'remove_from_cart' prod.id %}"   method="post" enctype="multipart/form-data" novalidate>
              {% csrf_token %}
              <button class="btn" type="submit">הסר מהעגלה
              <i class="far fa-trash-alt"></i></button>
            </form>

            </a>
            {% endif %}
            <br>
            <br>
          </figcaption>
        </figure>
      </li>
        {% endif %}
      	{% endfor %}
      </ul>
      </div>
  </main>

      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2020 - By Project#10 - SCE-"Software Engineering Department Year B." </p>
    <p class="fl_right">Developed by <a target="_blank" href="/abut" title="Project#10 ">2020_21_project#group_10 </a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>