{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
<title>Profile Business</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul class="nospace">
        <li><a href="{% url 'home' %}"><i class="fas fa-home fa-lg"></i></a></li>
        <li><a href="/abut">אודות</a></li>
        <li><a href="#">צור קשר</a></li>
        {% if user.is_authenticated %}
          <li>שלום, {{user.business.business_name}}</li>
          <li><a href="{% url 'logout' %}">התנתק</a></li>
        {% else %}
        <li><a href="/Registar">הירשם</a></li>
        <li><a href="account/login_r">התחבר</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><i class="fas fa-phone rgtspace-5"></i> +972 (050) 959 1553</li>
        <li><i class="fas fa-envelope rgtspace-5"></i> EasyShop@gmail.il</li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">

  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="one_half first">
      <h1 class="logoname"><a href="{% url 'home' %}"><span>Easy</span>Shop</a></h1></br>
      <h2 class="logoname"><a href="{% url 'home' %}"><span>Buy</span>Online!</a></h2>
    </div>
    <div class="one_half">
      <ul class="nospace clear">
        <li class="one_half first">
          <div class="block clear"><i class="fas fa-phone"></i> <span><strong class="block">Call Ziv:</strong> +972 (050) 959 1553</span> </div>
        </li>
        <li class="one_half">
          <div class="block clear"><i class="far fa-clock"></i> <span><strong class="block"> Mon. - Sat.:</strong> 24/7</span> </div>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </header>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-color:#e9a00e">
  <div id="mainav" class="clear" style="background-color:#ffffff
    <!-- ################################################################################################ -->
    <ul>
      <font size="5">
      {% if user.id == get_user.id %}
      <b><li><a href="{% url 'create_product' %}">|הוסף מוצר|</a></li>
      <li><a href="#">|המוצרים שלי|</a></li>
      <li><a href="#">|הזמנות|</a></li>
      <li><a href="#">|היסטורית הזמנות|</a></li></b>
        {% else %}
        <li><a href="#">|עבור לעגלת חנות|</a></li>
        {% endif %}
      </font>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3" >
  <main class="clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sidebar one_quarter first"   style="background-color:#0e74a5">

      <!-- ################################################################################################ -->
{% if user.id == get_user.id %}
      <h5>הפרופיל שלי</h5>

      <nav class="sdb_holder">
        <ul>
          <li><a href="#">הזמנות שלי</a>
            <ul>
              <li><a href="#">החנות שלי</a></li>
              <li><a href="#">עריכת החנות שלי</a></li>
            </ul>
          </li>
          <li><a href="#">הזמנות שלי</a>
            <ul>
              <li><a href="#">הזמנות מוכנות</a></li>
              <li><a href="#">הסטורית הזמנות</a>
              {% endif %}

      </nav>
      <div class="sdb_holder" style="background-color:#0e74a5">
        <h5>:פרטי העסק</h5>
        <address>
        First Name:{{get_user.first_name}}<br>
        last Name:{{get_user.last_name}}<br>
        business Name:{{get_business.business_name}}<br>
        Address: {{get_business.business_address}}<br>
        <!--business phone: {{user.business.business_phone}}<br>-->
        <br>
        Tel: {{get_business.business_phone}}<br>
        Email: <a href="#">{{get_user.email}}</a><br>
          <br>
          <br>
          {% if user.id == get_user.id %}
            <td><a class="btn btn-sm btn-info" href="{% url 'update_business' get_business.user_id %}">ערכית פרטי העסק</a></td>
          {% endif %}
        </address>
      </div>
      <div class="sdb_holder" style="background-color:#3183ad">
        <article>
          <h5> :אודות העסק </h5>
          <p>{{get_business.business_info}}</p>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->



    <div class="content three_quarter">
      <!-- ################################################################################################ -->



      <div class="wrapper row3">
  <main class="clear">
    <!-- main body -->
    <!-- ################################################################################################ -->

    <div class="sectiontitle">
      <br>
      <b><font size="7" color="#0e74a5">המוצרים שלי</font><br></b>
      <p></p>
    </div>

    <ul class="nospace">
    {% for prod in prods %}
      {% if get_user.id == prod.shop_id_id %}
      <li class="one_third">
                  <style>
        p {text-align: right;}
        h6 {text-align: right;}
        h5 {text-align: center;}
        .row3 {
           color: black;
            background-color: #FFFFFF;
              }
.overlay {
    color: #FFFFFF;
    background-color: inherit;
    text-align: right;
}
.btn, .btn.inverse:hover {
    color: #FFFFFF;
    background-color: #F7A804;
    border-color: #F7A804;
}
         </style>


        <figure>
          <figcaption>
            <h6 class="heading"><a href="#"><img src="{{prod.product_image.url}}" alt="" style="float:left;width:100px;height:100px;"></a> שם המוצר:{{prod.product_name}}       </h6>

            <p>פרטי המוצר:{{prod.product_info}}</p>
            <p> {{prod.product_amount}} :כמות במלאי</p>
           <p>  מחיר: {{prod.product_price}} ש"ח</p>
            {% if user.id == get_user.id %}
            <td><a class="btn btn-sm btn-info" href="{% url 'update_product' prod.id %}">Update</a></td>

            {% endif %}
            <button class="btn"  type="submit"  style="background-color:#0e74a5" >הוספת מוצר לעגלה</button>
            <br>
            <br>
          </figcaption>
        </figure>
      </li>
        {% endif %}
      	{% endfor %}
      </ul>
  </div>
        <ul>

            <h5>ביקורת על החנות</h5>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
        </ul>
        <h2>כתוב ביקורת למנהל תחזוקה</h2>
        <form action="#" method="post">
          <div class="one_third first">
            <label for="name">שם משתמש: <span>*</span></label>
            <input type="text" name="name" id="name" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="email">כתובת דואר אלקטרוני <span>*</span></label>
            <input type="email" name="email" id="email" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="url">נושא:</label>
            <input type="url" name="url" id="url" value="" size="22">
          </div>
          <div class="block clear">
            <label for="comment">כתיבת ביקורת</label>
            <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
          </div>
          <div>
            <input type="submit" name="submit" value="שליחת ביקורת">
            &nbsp;
            <input type="reset" name="reset" value="איפוס ביקורת">


          </div>
        </form>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->


</body>
</html>