{% extends 'TopBase.html' %}
{% load static %}

{% block content %}
    <title>Guides</title>
<div class="wrapper bgded overlay" style="background-image:url('/static/images/demo/backgrounds/backeasy.png');width:100%;height:1100px;" >
  <div style="border: 5px solid rgba(255, 255, 255, .5);backdrop-filter: contrast(0.5);">

      <style>
        h1 {text-align: center;color:red;font-size: 26px}
        p {text-align: center;}
        div {text-align: center;}
        .one_third {
    width: 292px;
}
.overview > li figure figcaption * {
    margin: 0;
    text-align: center;
}
h6 {text-align:right;font-size: 18px;color:#00ff14;}
mark {
color:white;background-color:red;
}
mark1{
color:white;background-color:green;
}
  </style>

    <!-- ################################################################################################ -->
      <h3 class="heading">:מדריך משתמש לבעל עסק</h3>
      <h1><mark>שאלה:איך להוסיף מוצר</mark></h1>
      <h6><mark1>תשובה:התחברות/הרשמה כבעל עסק>>עבור לדף העסק>>הוספת מוצר>>למלא את פרטי המוצר>>הוסף מוצר</mark1></h6>
      <h1><mark>שאלה:איך למצוא את הזמנות שהזמינו מהעסק</mark></h1>
      <h6><mark1>תשובה:התחברות/הרשמה כבעל עסק>>עבור לדף העסק>>הזמנות>>שם יופיעו כל הזמנות שעדיין לא הוכנו בעסק לאחר שהזמנה מוכנה יש ללחוץ על הזמנה מוכנה>>לאחר מכן יופיע אצל הלקוח שהזמנה מוכנה</mark1></h6>
      <h1><mark>שאלה:איך למצוא את כל הזמנות שמוכנות בעסק</mark></h1>
      <h6><mark1>תשובה:התחברות/הרשמה כבעל עסק>>עבור לדף העסק>>היסטורית הזמנות>>שם יופיעו כל הזמנות המוכנות בעסק</mark1></h6>
      <h1><mark>שאלה:איך לראות את דוחות העסק</mark></h1>
      <h6><mark1>תשובה:התחברות/הרשמה כבעל עסק>>עבור לדף העסק>>דוחות>>שם יופיעו כל סוגי הדוחות שהאתר מציע לך ועלייך לבחור את הדוח הרצוי</mark1></h6>
      <h1><mark>שאלה:איך לראות את התגובות של העסק שלי והדירוג</mark></h1>
      <h6><mark1>תשובה:התחברות/הרשמה כבעל עסק>>עבור לדף העסק>>ביקורות החנות>>שם יופיעו כל הביקורת שמשתמים הגיבו לך בנוסף תוכל לראות את הדירוג של כל לקוח וסה"כ דירוג החנות</mark1></h6>
      <h1><mark>שאלה:איך אפשר לערוך את פרטי העסק</mark></h1>
      <h6><mark1>תשובה:התחברות/הרשמה כבעל עסק>>עבור לדף העסק>>ערכית פרטי העסק>>לשנות את הפרטים שמופיעים בדף הנ"ל>>עדכון פרטי העסק</mark1></h6>
      <h1><mark>שאלה:איך אפשר ליצור הודעת של העסק</mark></h1>
      <h6><mark1>תשובה:התחברות/הרשמה כבעל עסק>>עבור לדף העסק>>ערכית הודעה>>לרשום את ההודעה הרצויה>>שמור שינויים</mark1></h6>
      <h1><mark>שאלה:איך להודיע על מבצעים בחנות</mark></h1>
      <h6><mark1>תשובה:התחברות/הרשמה כבעל עסק>>עבור לדף העסק>>ערכית מבצעים>>לרשום את המבצעים>>שמור שינויים</mark1></h6>
      <h1><mark>שאלה:איך לפנות למהל תחזוקה במקרה הצורך</mark></h1>
      <h6><mark1>תשובה:התחברות/הרשמה כבעל עסק>>שלח משוב>>למלא את הנושא ואת הפניה>>שלח משוב</mark1></h6>

    <!-- ################################################################################################ -->
  </div>
</div>
<div class="wrapper bgded overlay" style="background-image:url('/static/images/demo/backgrounds/backeasy.png');width:100%;height:1100px;" >
  <div style="border: 5px solid rgba(255, 255, 255, .5);backdrop-filter: contrast(0.5);">

      <style>
        h1 {text-align: center;color:red;}
        p {text-align: center;}
        div {text-align: center;}
        .one_third {
    width: 292px;
}
.overview > li figure figcaption * {
    margin: 0;
    text-align: center;
}
h6 {text-align:center;font-size: 18px;color:#00ff14;}
  </style>
    <!-- ################################################################################################ -->
      <h3 class="heading">:מדריך משתמש צרכן</h3>
      <h1><mark>שאלה:איך לחפש מוצר</mark></h1>
      <h6><mark1>תשובה אפשרות 1:התחברות/הרשמה כצרכן>>חפש לפי שם עסק>>הופעה של החנות אם קיימת</mark1></h6>
      <h6><mark1>תשובה אפשרות 2:התחברות/הרשמה כצרכן>>חפש לפי קטגוריה>>הופעה של החנות אם קיימות בקטגוריה</mark1></h6>
      <h1><mark>שאלה:איך ליצור הזמנה</mark></h1>
      <h6><mark1>תשובה:התחברות/הרשמה כצרכן>>בחירת עסק שאתה מעוניין לבצע הזמנה>>לחיצה על הוסף מוצר לעגלה>>לאחר בחירה של סה"כ המוצרים שאת/ה מעוניין בהם>>עבור לעגלת החנות>>הכנסת הערות במידת הצורך בחירה אם משלוח/איסוף עצמי>>סיום הזמנה</mark1></h6>
      <h1><mark>שאלה:איך למצוא את כל הזמנות שלי</mark></h1>
      <h6><mark1>תשובה:התחברות/הרשמה כצרכן>>עבור הזמנות שלי>>הזמנות פתוחות(הזמנות שלא מוכנות אצל העסק),הזמנות מוכנות(הזמנות שמוכנות אצל העסק)</mark1></h6>
      <h1><mark>שאלה:איך להסיר מוצר מהעגלה</mark></h1>
      <h6><mark1>תשובה:התחברות/הרשמה כצרכן>>עבור לדף העסק שעוד לא עשית סיים הזמנה>>לחיצה על הסר מעגלה</mark1></h6>
      <h1><mark>שאלה:איך להוסיף ביקורת לחנות</mark></h1>
      <h6><mark1>תשובה:התחברות/הרשמה כצרכן>>בחירת העסק שאת/ה מעוניין להוסיף ביקורת>>ביקורות החנות>>ירידה למטה עד להוספת ביקורת בחירת נושא,התגובה,דירוג של שביעות רצון>>הוספת ביקורת חנות</mark1></h6>
      <h1><mark>שאלה:איך לפנות למהל תחזוקה במקרה הצורך</mark></h1>
      <h6><mark1>תשובה:התחברות/הרשמה כצרכן>>שלח משוב>>למלא את הנושא ואת הפניה>>שלח משוב</mark1></h6>
    <!-- ################################################################################################ -->
  </div>
</div>
</body>
</html>
{% endblock %}
