{% extends 'TopBase.html' %}
{% load static %}

{% block content %}
<title>דף הבית</title>
<style>
  #mainav li li a, #mainav .active li a {
    color: #FFFFFF;
    background-color: burlywood;
    border-color: rgba(0,0,0,.6);
}
</style>

  <nav style="width:400px;" id="mainav" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li class="active"><a href="{% url 'home' %}">|דף הבית|</a></li>
      <li><a class="drop" href="#">|קטגוריות|</a>
        <ul>
          {% for cat in category %}
          <li><a style="text-align: right;"  href="{% url 'searchByCategory' cat %}">{{cat}}</a></li> <!--if press, send to this address (pages/gallery.html)-->
          {% endfor %}
        </ul>
        <li class="active"><a href="{% url 'guides' %}">|מדריכים|</a></li>
      <li class="active"><a href="#shops">|חנויות|</a></li>

      </li>





      <!--<li><a href="#">Link Text</a></li>-->
      <!--<li><a href="#">Long Link Text</a></li>-->
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>


<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<div class="wrapper bgded overlay" style="background-image:url('static/images/demo/backgrounds/backeasy.png');width:100%;height:1100px;" >
  <div id="pageintro" class="hoc clear">
      <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        .one_third {
    width: 292px;
}
.overview > li figure figcaption * {
    margin: 0;
    text-align: center;
}
  </style>
    <!-- ################################################################################################ -->
        {% if user.is_authenticated %}
        <footer><a class="btn" href="/abut">מי אנחנו</a></footer>
        {% else %}
              <p>הגיע הזמן לשנות את הרגלי הקנייה שלנו</p>
      <h3 class="heading">קניות מכל עסק מכל מקום</h3>
      <p>בעזרתנו אתה בעל העסק תוכל לפתוח חנות אינטרנטית</p>
      <footer><a class="btn" href="/Registar">הירשם ופתח חנות</a></footer>
        {% endif %}


    <!-- ################################################################################################ -->
  </div>
</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->

    <div id="shops" class="sectiontitle">
      <h6 class="heading" style="font-size:45px;">חנויות </h6>
      <p></p>
    </div>

    <ul class="nospace group overview">
    {% for shop in shops %}
      <li class="one_third">
        <figure><a href="account/business_profile/{{shop.user_id}}/"><img src="{% static 'images/demo/shop1.jpeg' %}" alt=""></a>
          <figcaption>
            <h2> שם חנות: {{shop.business_name}}</h2>
            <p>:מידע על החנות</p>
            <p> {{shop.business_info}}</p>
          </figcaption>
        </figure>
      </li>
      {% endfor %}
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2020 - By Project#10 - SCE-"Software Engineering Department Year B." </p>
    <p class="fl_right">Developed by <a target="_blank" href="/abut" title="Project#10 ">2020_21_project#group_10 </a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>


{% endblock %}
