{% load static %}
<!DOCTYPE html>

<html lang="en">

<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>Easy_Shop</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top" >

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul class="nospace">
        <li><a href="{% url 'home' %}"><i class="fas fa-home fa-lg"></i></a></li>
        <li><a class="far fa-handshake" href="/abut">  אודות</a></li>
        <li><a class="far fa-comments" href="{% url 'feedback' %}">  שלח משוב</a></li>
        {% if user.is_authenticated %}
          {% if user.is_staff %}
          <li>hello, {{user.username}}</li>
          {% else %}
          <li>hello, {{user.first_name}}</li>
          {% endif %}
          <li><a class="far fa-times-circle" href="{% url 'logout' %}">   התנתק</a></li>
        {% else %}
        <li><a class="far fa-edit" href="{% url 'Registar' %}">  הירשם</a></li>
        <li><a class="far fa-user-circle" href="/admin">  התחבר כאדמין</a></li>
        {% endif %}

      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><i class="fas fa-phone rgtspace-5"></i> +972 (050) 959 1553</li>
        <li><i class="fas fa-envelope rgtspace-5"></i> EasyShop@gmail.il</li>
      </ul>
    </div>

    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">

  <header id="header" class="clear" style="background-color:#555353">

    <!-- ################################################################################################ -->
    <div id="logo" class="one_half first">
          <style>
        h1 {text-align: center;}
        h2 {text-align: center;}
        h5 {text-align: center;}
        p {text-align: right;}
        div {text-align: right;}
         </style>
      <h1 class="logoname"><a href="{% url 'home' %}"><span>Easy</span>Shop</a></h1></br>
      <h2 class="logoname"><a href="{% url 'home' %}"><span>Buy</span>Online!</a></h2>
    </div>
    <div class="one_half">
      <ul class="nospace clear">
        <li class="one_half first">

        </li>
        <li class="one_half">

        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->

  </header>


<div class="wrapper bgded overlay" style="background-image:url('static/images/demo/backgrounds/back.png');">

  <footer id="footer" class="hoc clear">

    <!-- ################################################################################################ -->

    <div class="sectiontitle">
      <font size="9" color="orange">התחבר</font><br>

      <form method="post" action="login_r">
        {% csrf_token %}
       {% if user.is_authenticated %}
        <h1>את/ה כבר מחובר/ת </h1>
        <h1>את/ה כבר מחובר/ת בשביל להתחבר למשתמש אחר עלייך להתנתק ולחזור לעמוד זה</h1>
        <footer><a class="btn" href="logout">התנתק</a>
        {% else %}
        {{form}}

        <fieldset>
          <legend>Custmer Register:</legend>
            <style>
                 h1 {text-align: center;}
                ::placeholder {color:white;}
                button {submit-align: center;}
            </style>
          <p class="btmspace+30">*:שם משתמש</p>
          <input class="btmspace-15"  type="text" name="username" placeholder="username">
          <p class="btmspace+30">*:סיסמא</p>
          <input class="btmspace-15" type="password" name="password" placeholder="Password"></br>
          <style>
            div {text-align: center;}
          </style>
           <button class="btn" type="submit" >התחבר</button></br>
          </br>
            <button class="btn" type="submit" >שכחתי סיסמא</button></br>
          </fieldset>
        {% endif %}
      </form>
  </div>
    <!-- ################################################################################################ -->
  </footer>

    </div>
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2020 - By Project#10 - SCE-"Software Engineering Department Year B." </p>
    <p class="fl_right">Developed by <a target="_blank" href="/abut" title="Project#10 ">2020_21_project#group_10 </a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>