{%  extends 'TopBase.html' %}
{% block content %}

<title>התחברות</title>
<div class="wrapper bgded overlay" style="background-image:url('static/images/demo/backgrounds/back.png');">

  <footer id="footer" class="hoc clear">

    <!-- ################################################################################################ -->

    <div class="sectiontitle">
      <font size="9" color="orange">התחבר</font><br>

      <form method="post" action="login_r">
        {% csrf_token %}
       {% if user.is_authenticated %}
        <h1>את/ה כבר מחובר/ת </h1>
        <h1>את/ה כבר מחובר/ת בשביל להתחבר למשתמש אחר עלייך להתנתק ולחזור לעמוד זה</h1>
        <footer><a class="btn" href="logout">התנתק</a>
        {% else %}
        {{form}}

        <fieldset>
          <legend>Custmer Register:</legend>
            <style>
                 h1 {text-align: center;}
                ::placeholder {color:white;}
                button {submit-align: center;}
            </style>
          <div>{% include 'messages.html' %}</div>
          <p class="btmspace+30">*:שם משתמש</p>
          <input class="btmspace-15"  type="text" name="username" placeholder="username">
          <p class="btmspace+30">*:סיסמא</p>
          <input class="btmspace-15" type="password" name="password" placeholder="Password"></br>
          <style>
            div {text-align: center;}
          </style>
           <button class="btn" type="submit" >התחבר</button></br>
          </br>
          </fieldset>
        {% endif %}
      </form>
  </div>
    <!-- ################################################################################################ -->
  </footer>

    </div>
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2020 - By Project#10 - SCE-"Software Engineering Department Year B." </p>
    <p class="fl_right">Developed by <a target="_blank" href="/abut" title="Project#10 ">2020_21_project#group_10 </a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>
{% endblock %}