{% load static %}
<!DOCTYPE html>

<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>Easy_Shop</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul class="nospace">
        <li><a href="{% url 'home' %}"><i class="fas fa-home fa-lg"></i></a></li>
        <li><a href="/abut">אודות</a></li>
        <li><a href="#">צור קשר</a></li>
        {% if user.is_authenticated %}
          {% if user.is_staff %}
          <li>hello, {{user.username}}</li>
          {% else %}
          <li>hello, {{user.first_name}}</li>
          {% endif %}
          <li><a href="logout">התנתק</a></li>
        {% else %}
        <li><a href="/Registar">הירשם</a></li>
        <li><a href="account/login_r">התחבר</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><i class="fas fa-phone rgtspace-5"></i> +972 (050) 959 1553</li>
        <li><i class="fas fa-envelope rgtspace-5"></i> EasyShop@gmail.il</li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">

  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="one_half first">
      <h1 class="logoname"><a href="{% url 'home' %}"><span>Easy</span>Shop</a></h1></br>
      <h2 class="logoname"><a href="{% url 'home' %}"><span>Buy</span>Online!</a></h2>
    </div>
    <div class="one_half">
      <ul class="nospace clear">
        <li class="one_half first">
          <div class="block clear"><i class="fas fa-phone"></i> <span><strong class="block">Call Ziv:</strong> +972 (050) 959 1553</span> </div>
        </li>
        <li class="one_half">
          <div class="block clear"><i class="far fa-clock"></i> <span><strong class="block"> Mon. - Sat.:</strong> 24/7</span> </div>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </header>

  <nav id="mainav" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li class="active"><a href="/home">דף הבית</a></li>

      <li><a class="drop" href="#">קטגוריות</a>
        <ul>
          <li><a href="pages/gallery.html">מסעדות</a></li> <!--if press, send to this address (pages/gallery.html)-->
          <li><a href="pages/full-width.html">הכל לבית</a></li>
          <li><a href="pages/sidebar-left.html">חיות</a></li>
          <li><a href="pages/sidebar-right.html">מוצרי חשמל</a></li>
          <li><a href="pages/basic-grid.html">צעצועים</a></li>
          <li><a href="pages/font-icons.html">אנשי מקצוע</a></li>
        </ul>
      </li>

      <li><a class="drop" href="#">מידע</a>
        <ul>
          <li><a href="#">על האתר</a></li>
          <li><a class="drop" href="abut">Level 2 + Drop</a>
            <ul>
              <li><a href="#">Level 3</a></li>
              <li><a href="#">Level 3</a></li>
              <li><a href="#">Level 3</a></li>
            </ul>
          </li>
          <li><a href="#">צוות התכנות של האתר</a></li>
        </ul>
      </li>

      <li><a href="#">חנויות פופלוריות</a></li>
      <li><a href="#">חיפוש חנות</a></li>
      <!--<li><a href="#">Link Text</a></li>-->
      <!--<li><a href="#">Long Link Text</a></li>-->
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>
<div class="wrapper bgded overlay" style="{% static "'background-image:url('images/demo/backgrounds/01.png');"%}">

  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <footer><a class="btn" href="{% url 'business_register' %}">הירשם כבעל חנות</a></footer>
  <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
  </style>
      <footer><a class="btn" href="{% url 'customer_register' %}">הירשם כצרכן</a></footer>

