{% extends 'TopBase.html' %}

{% block content %}
<title>עדכון מוצר</title>
<div class="wrapper bgded overlay" style="background-image:url('static/images/demo/backgrounds/back.png');">

  <footer id="footer" class="hoc clear">

    <!-- ################################################################################################ -->

    <div class="sectiontitle">
      <b><i><font size="9" color="orange">עדכון מוצר</font><br></i></b>

      <form  action="" method="post" enctype="multipart/form-data" novalidate>
        <style>

          select {color: white;
          padding: 8px;
          background-color:#0e74a5;
          width: 100%;
          text-align: center;
          }
          textarea {
          color: white;
          padding: 8px;
          background-color:#0e74a5;
          width: 100%;
          }
        </style>
        {% csrf_token %}
        {{form}}
      </br>
        <button class="btn" type="submit">שמור שינויים</button>


  </div>
    <!-- ################################################################################################ -->
  </footer>

    </div>
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2020 - By Project#10 - SCE-"Software Engineering Department Year B." </p>
    <p class="fl_right">Developed by <a target="_blank" href="/abut" title="Project#10 ">2020_21_project#group_10 </a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>
{% endblock %}


