{% load static %}
<!DOCTYPE html>

<html lang="he">

<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>Easy_Shop</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top" >

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul class="nospace">
        <li><a href="{% url 'home' %}"><i class="fas fa-home fa-lg"></i></a></li>
        <li><a href="/abut">אודות</a></li>
        <li><a href="#">צור קשר</a></li>
        {% if user.is_authenticated %}
          {% if user.is_staff %}
          <li>hello, {{user.username}}</li>
          {% else %}
          <li>hello, {{user.first_name}}</li>
          {% endif %}
          <li><a href="logout">התנתק</a></li>
        {% else %}
        <li><a href="/Registar">הירשם</a></li>
        <li><a href="{% url 'login_r'%}">התחבר</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><i class="fas fa-phone rgtspace-5"></i> +972 (050) 959 1553</li>
        <li><i class="fas fa-envelope rgtspace-5"></i> EasyShop@gmail.il</li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
  <div class="wrapper row1">

  <header id="header" class="clear" style="background-color:#555353">

    <!-- ################################################################################################ -->
    <div id="logo" class="one_half first">
          <style>
        h1 {text-align: center;}
        h2 {text-align: center;}
        h5 {text-align: center;}
        p {text-align: right;}
        div {text-align: right;}
         </style>
      <h1 class="logoname"><a href="{% url 'home' %}"><span>Easy</span>Shop</a></h1></br>
      <h2 class="logoname"><a href="{% url 'home' %}"><span>Buy</span>Online!</a></h2>
    </div>
    <div class="one_half">
      <ul class="nospace clear">
        <li class="one_half first">

        </li>
        <li class="one_half">

        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->

  </header>


<div class="mainav" style="background-color:#555353">

  <footer id="footer" class="hoc clear">

    <!-- ################################################################################################ -->
      {% csrf_token %}
    <div class="sectiontitle">
     <b> <font size="9" color="#e9a00e">עריכת פרטי עסק</font></b></br>


      <form  action="" method="post" novalidate>
        <style>
        label {
          color: white;
          padding: 8px;
          }
          span {
          color: white;
          padding: 8px;
          }
          select {color: white;
          padding: 8px;
          background-color:#0e74a5;
          width: 100%;
          text-align: center;
          }
          textarea {
          color: white;
          padding: 8px;
          background-color:#0e74a5;
          width: 100%;
          }
        </style>
        {% csrf_token %}
        {{form}}
        <br>
        <br>
          <footer><button class="btn" type="submit">עדכון פרטי העסק</button></footer>
      </form>
  </div>
    <!-- ################################################################################################ -->
  </footer>

    </div>
  </div>
</body>
</html>